/* screen - main-screen-1 */

.main-screen-1 {
  align-items: flex-start;
  background-color: var(--charade);
  display: flex;
  height: 1080px;
  width: 1920px;
}

.main-screen-1 .group-container-1 {
  height: 1084px;
  margin-left: 20px;
  margin-top: -22px;
  position: relative;
  width: 1900px;
}

.main-screen-1 .overlap-group15 {
  height: 1084px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1900px;
}

.main-screen-1 .rectangle-36 {
  background-color: var(--eerie-black);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 52px;
  left: 389px;
  position: absolute;
  top: 71px;
  width: 1229px;
}

.main-screen-1 .rectangle-1 {
  background-color: var(--eerie-black);
  border-radius: 15px;
  height: 1043px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 371px;
}

.main-screen-1 .rectangle-33 {
  background-color: var(--electric-violet);
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 0px 30px #00000040;
  cursor: pointer;
  height: 52px;
  left: 389px;
  position: absolute;
  top: 71px;
  transition: all 0.2s ease;
  width: 128px;
}

.main-screen-1 .rectangle-33:hover {
  transform: scale(1.1);
}

.main-screen-1 .overlap-group-container {
  height: 103px;
  left: 290px;
  position: absolute;
  top: 46px;
  width: 597px;
}

.main-screen-1 .overlap-group2 {
  height: 61px;
  left: 149px;
  position: absolute;
  top: 21px;
  width: 448px;
}

.main-screen-1 .place-1 {
  height: 32px;
  left: 297px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 12px;
  width: 151px;
}

.main-screen-1 .overlap-group-1 {
  height: 45px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 212px;
}

.main-screen-1 .blackjack {
  height: 39px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 212px;
}

.main-screen-1 .new-project-2022-02-28-t091710-1 {
  height: 45px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 45px;
}

.main-screen-1 .overlap-group1 {
  height: 61px;
  left: 208px;
  position: absolute;
  top: 0;
  width: 156px;
}

.main-screen-1 .crash {
  height: 32px;
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 151px;
}

.main-screen-1 .new-project-2022-02-28-t093412-1 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 61px;
}

.main-screen-1 .new-project-2022-02-28-t093412-2 {
  height: 28px;
  left: 126px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 28px;
}

.main-screen-1 .overlap-group3-2 {
  height: 103px;
  left: 0;
  position: absolute;
  top: 0;
  width: 212px;
}

.main-screen-1 .coinflip {
  height: 39px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 29px;
  width: 212px;
}

.main-screen-1 .new-project-2022-02-28-t090203-1 {
  height: 103px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 78px;
}

.main-screen-1 .rectangle-34 {
  background-color: var(--eerie-black);
  height: 35px;
  left: 311px;
  position: absolute;
  top: 23px;
  width: 1589px;
}

.main-screen-1 .navbar-link-container {
  height: 25px;
  left: 389px;
  position: absolute;
  top: 26px;
  width: 611px;
}

.main-screen-1 .navbar-link-provably-fair {
  height: 25px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 134px;
}

.main-screen-1 .navbar-link-leaderboards {
  height: 25px;
  left: 107px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 134px;
}

.main-screen-1 .navbar-link-terms-of-service {
  height: 25px;
  left: 216px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 134px;
}

.main-screen-1 .navbar-link-claims {
  height: 25px;
  left: 343px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 134px;
}

.main-screen-1 .navbar-link-affiliates {
  height: 25px;
  left: 406px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 134px;
}

.main-screen-1 .navbar-link-faq {
  height: 25px;
  left: 477px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 134px;
}

.main-screen-1 .rectangle-4 {
  background-color: var(--charade);
  border-radius: 15px 15px 50px 50px;
  box-shadow: 0px 4px 16px #00000040;
  height: 210px;
  left: 0;
  position: absolute;
  top: 0;
  width: 376px;
}

.main-screen-1 .image_2022-04-17_102702722-1 {
  height: 103px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 257px;
}

.main-screen-1 .group-44 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 18px;
  min-height: 780px;
  position: absolute;
  top: 218px;
  width: 268px;
}

.main-screen-1 .group-34 {
  align-items: flex-start;
  display: flex;
  height: 53px;
  margin-left: 3px;
  min-width: 265px;
}

.main-screen-1 .group-33 {
  align-self: flex-end;
  background-image: url(../img/ellipse-2-1@2x.png);
  background-size: 100% 100%;
  height: 52px;
  margin-bottom: 0;
  width: 52px;
}

.main-screen-1 .chat-user-messages-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  min-height: 53px;
  width: 200px;
}

.main-screen-1 .nandanly-trades {
  letter-spacing: 0;
  margin-top: -1px;
  min-height: 20px;
  width: 200px;
}

.main-screen-1 .this-is-just-an-ui-d {
  letter-spacing: 0;
  margin-left: 0;
  margin-top: 4px;
  min-height: 28px;
  width: 200px;
}

.main-screen-1 .group {
  align-items: flex-start;
  display: flex;
  height: 53px;
  margin-left: 3px;
  margin-top: 14px;
  min-width: 265px;
}

.main-screen-1 .chat-user-messages {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 0;
  min-height: 53px;
  width: 200px;
}

.main-screen-1 .group-33-1 {
  align-self: flex-end;
  background-image: url(../img/ellipse-2-4@2x.png);
  background-size: 100% 100%;
  height: 52px;
  margin-bottom: 0;
  width: 52px;
}

.main-screen-1 .group-44-1 {
  align-items: flex-start;
  display: flex;
  height: 53px;
  margin-left: 3px;
  margin-top: 10px;
  min-width: 265px;
}

.main-screen-1 .group-33-2 {
  align-self: flex-end;
  background-image: url(../img/ellipse-2-12@2x.png);
  background-size: 100% 100%;
  height: 52px;
  margin-bottom: 0;
  width: 52px;
}

.main-screen-1 .group-45 {
  align-items: flex-start;
  display: flex;
  height: 53px;
  margin-top: 11px;
  min-width: 265px;
}

.main-screen-1 .rectangle-10 {
  background-color: var(--charade);
  border-radius: 5px 5px 15px 15px;
  box-shadow: 0px 0px 30px #00000040;
  height: 58px;
  left: 11px;
  position: absolute;
  top: 1010px;
  width: 344px;
}

.main-screen-1 .rectangle-32 {
  border-radius: 15px 0px 0px 15px;
  cursor: pointer;
  height: 81px;
  left: 389px;
  position: absolute;
  top: 42px;
  transition: all 0.2s ease;
  width: 172px;
}

.main-screen-1 .rectangle-32:hover {
  transform: scale(1.1);
}

.main-screen-1 .send-icon-png {
  height: 20px;
  left: 311px;
  position: absolute;
  top: 1028px;
  width: 20px;
}

.main-screen-1 .line-1 {
  height: 779px;
  left: 356px;
  position: absolute;
  top: 210px;
  width: 2px;
}

.main-screen-1 .line-2 {
  height: 38px;
  left: 357px;
  position: absolute;
  top: 922px;
  width: 1px;
}

.main-screen-1 .rectangle-12 {
  background-color: var(--eerie-black-2);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #00000040;
  height: 138px;
  left: 389px;
  position: absolute;
  top: 156px;
  width: 1488px;
}

.main-screen-1 .group-container-2 {
  height: 62px;
  left: 353px;
  position: absolute;
  top: 193px;
  width: 502px;
}

.main-screen-1 .group-46 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 62px;
  position: absolute;
  top: 0;
  width: 234px;
}

.main-screen-1 .all-games {
  height: 30px;
  letter-spacing: 0;
  margin-top: -1px;
  text-align: center;
  width: 230px;
}

.main-screen-1 .number {
  height: 30px;
  letter-spacing: 0;
  margin-top: 2px;
  text-align: center;
  width: 230px;
}

.main-screen-1 .group-48 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 268px;
  min-height: 62px;
  position: absolute;
  top: 0;
  width: 234px;
}

.main-screen-1 .joinable-games {
  height: 30px;
  letter-spacing: 0;
  margin-top: -1px;
  text-align: center;
  width: 230px;
}

.main-screen-1 .number-1 {
  height: 30px;
  letter-spacing: 0;
  margin-top: 2px;
  text-align: center;
  width: 230px;
}

.main-screen-1 .group-47 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 125px;
  min-height: 62px;
  position: absolute;
  top: 0;
  width: 234px;
}

.main-screen-1 .total-value {
  height: 30px;
  letter-spacing: 0;
  margin-top: -1px;
  text-align: center;
  width: 230px;
}

.main-screen-1 .text-1-1 {
  height: 30px;
  letter-spacing: 0;
  margin-top: 2px;
  text-align: center;
  width: 230px;
}

.main-screen-1 .group-68 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 55px;
  left: 1522px;
  min-width: 168px;
  position: absolute;
  top: 194px;
  transition: all 0.2s ease;
}

.main-screen-1 .group-68:hover {
  transform: scale(1.1);
}

.main-screen-1 .overlap-group10 {
  height: 56px;
  margin-top: -1px;
  position: relative;
  width: 166px;
}

.main-screen-1 .rectangle-14 {
  background-color: var(--electric-violet);
  border-radius: 15px;
  height: 55px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 166px;
}

.main-screen-1 .create {
  height: 55px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 166px;
}

.main-screen-1 .group-69 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 55px;
  left: 1696px;
  min-width: 162px;
  position: absolute;
  top: 194px;
  transition: all 0.2s ease;
}

.main-screen-1 .group-69:hover {
  transform: scale(1.1);
}

.main-screen-1 .overlap-group13 {
  height: 56px;
  margin-top: -1px;
  position: relative;
  width: 160px;
}

.main-screen-1 .rectangle-13 {
  background-color: var(--golden-grass);
  border-radius: 15px;
  height: 55px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 160px;
}

.main-screen-1 .history {
  height: 55px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 160px;
}

.main-screen-1 .new-project-54-4 {
  height: 25px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 178px;
  width: 42px;
}

.main-screen-1 .new-project-54-5 {
  height: 28px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 176px;
  width: 48px;
}

.main-screen-1 .new-project-54-6 {
  height: 27px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 177px;
  width: 47px;
}

.main-screen-1 .overlap-group14 {
  height: 22px;
  left: 261px;
  position: absolute;
  top: 180px;
  width: 80px;
}

.main-screen-1 .number-2 {
  height: 16px;
  left: 1px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 79px;
}

.main-screen-1 .image_2022-05-13_203515132-1 {
  height: 22px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 29px;
}

.main-screen-1 .number-input {
  height: 18px;
  left: 286px;
  position: absolute;
  top: 182px;
}

.main-screen-1 .rectangle-123 {
  background-color: var(--electric-violet);
  border-radius: 15px;
  height: 51px;
  left: 1481px;
  position: absolute;
  top: 71px;
  width: 109px;
}

.main-screen-1 .balance {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 8px;
  font-weight: 700;
  left: 1468px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 76px;
  width: 109px;
}

.main-screen-1 .rectangle-124 {
  background-color: var(--eerie-black);
  border-radius: 3px;
  height: 52px;
  left: 1562px;
  position: absolute;
  top: 71px;
  width: 28px;
}

.main-screen-1 .balanceinrobux {
  left: 1406px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 88px;
  width: 150px;
}

.main-screen-1 .wallet-icon {
  height: 23px;
  left: 1578px;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 23px;
}

.main-screen-1 .group-45-1 {
  align-items: flex-start;
  box-shadow: 0px 0px 30px #00000066;
  display: flex;
  flex-direction: column;
  left: 18px;
  min-height: 28px;
  opacity: 0.5;
  position: absolute;
  top: 1023px;
  width: 275px;
}

.main-screen-1 .type-your-message {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  margin-left: 16px;
  margin-top: -1px;
  padding: 0;
  width: 193px;
}

.main-screen-1 .type-your-message::placeholder {
  color: #ffffff99;
}

.main-screen-1 .rectangle-11 {
  background-color: var(--white);
  border-radius: 50px;
  height: 3px;
  margin-top: 1px;
  width: 273px;
}

.main-screen-1 .overlap-group16 {
  align-items: center;
  background-color: var(--eerie-black-2);
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 25px #00000040;
  display: flex;
  height: 754px;
  justify-content: flex-end;
  left: 389px;
  min-width: 1495px;
  padding: 0 7px;
  position: absolute;
  top: 318px;
}

.main-screen-1 .group-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.29px;
  min-height: 693px;
  width: 1274px;
}

.main-screen-1 .group-container-4 {
  height: 338px;
  position: relative;
  width: 1274px;
}

.main-screen-1 .group-64 {
  align-items: flex-start;
  box-shadow: 0px 0px 30px #00000040;
  display: flex;
  height: 338px;
  left: 0;
  min-width: 1274px;
  position: absolute;
  top: 0;
}

.main-screen-1 .overlap-group4 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 335px;
  width: 288px;
}

.main-screen-1 .overlap-group {
  align-items: flex-end;
  background-color: var(--mirage);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  height: 121px;
  min-width: 288px;
  padding: 7.3px 21.0px;
}

.main-screen-1 .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 91px;
}

.main-screen-1 .ellipse {
  height: 82px;
  margin-right: 4.2px;
  width: 82px;
}

.main-screen-1 .nandanly-trades-1 {
  height: 16px;
  letter-spacing: 0;
  margin-top: 2px;
  text-align: center;
  width: 91px;
}

.main-screen-1 .vs {
  align-self: center;
  height: 25px;
  letter-spacing: 0;
  margin-bottom: 11.44px;
  margin-left: 14px;
  text-align: center;
  width: 38px;
}

.main-screen-1 .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 100px;
  width: 91px;
}

.main-screen-1 .text-container {
  height: 45px;
  margin-right: 0;
  margin-top: 4px;
  position: relative;
  width: 129px;
}

.main-screen-1 .text {
  height: 28px;
  left: 19px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 91px;
}

.main-screen-1 .text-1 {
  height: 28px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 129px;
}

.main-screen-1 .group-1 {
  align-items: center;
  background-color: var(--eerie-black);
  border-radius: 15px;
  display: flex;
  height: 83px;
  margin-left: 1.05px;
  margin-top: 1px;
  min-width: 262px;
  padding: 13.6px 18.9px;
}

.main-screen-1 .ellipse-container {
  height: 43px;
  margin-top: 0;
  position: relative;
  width: 98px;
}

.main-screen-1 .ellipse-7 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.main-screen-1 .ellipse-8 {
  height: 43px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 43px;
}

.main-screen-1 .ellipse-9 {
  height: 43px;
  left: 55px;
  position: absolute;
  top: 0;
  width: 43px;
}

.main-screen-1 .line-3 {
  align-self: flex-end;
  height: 51px;
  margin-left: 15px;
  width: 1px;
}

.main-screen-1 .overlap-group3 {
  height: 44px;
  margin-bottom: 1.0px;
  margin-left: 14px;
  position: relative;
  width: 98px;
}

.main-screen-1 .ellipse-container-1 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 98px;
}

.main-screen-1 .ellipse-9-1 {
  background-color: var(--charade);
  border-radius: 21.5px;
  box-shadow: 0px 0px 15px #00000040;
  height: 43px;
  left: 55px;
  position: absolute;
  top: 0;
  width: 43px;
}

.main-screen-1 .text-2 {
  height: 43px;
  left: 55px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 41px;
}

.main-screen-1 .view {
  height: 23px;
  letter-spacing: 0;
  margin-right: 0;
  margin-top: 27px;
  text-align: center;
  width: 85px;
}

.main-screen-1 .group-container {
  align-items: center;
  align-self: center;
  background-color: var(--charade);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1px;
  margin-left: 43px;
  min-height: 335px;
  width: 288px;
}

.main-screen-1 .vs-1 {
  align-self: center;
  height: 25px;
  letter-spacing: 0;
  margin-bottom: 11.44px;
  margin-left: 14px;
  text-align: center;
  width: 38px;
}

.main-screen-1 .flex-col-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 101px;
  width: 91px;
}

.main-screen-1 .overlap-group3-1 {
  height: 85px;
  margin-right: 4.2px;
  position: relative;
  width: 82px;
}

.main-screen-1 .ellipse-6 {
  background-color: var(--eerie-black);
  border-radius: 40.91px;
  height: 82px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 82px;
}

.main-screen-1 .text-3 {
  height: 85px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 82px;
}

.main-screen-1 .place {
  height: 16px;
  letter-spacing: 0;
  text-align: center;
  width: 91px;
}

.main-screen-1 .text-container-1 {
  height: 45px;
  margin-left: 2.1px;
  margin-top: 4px;
  position: relative;
  width: 129px;
}

.main-screen-1 .text-4 {
  height: 28px;
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 91px;
}

.main-screen-1 .group-62 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-right: 3.3px;
  margin-top: 17px;
  min-height: 53px;
  transition: all 0.2s ease;
  width: 107px;
}

.main-screen-1 .group-62:hover {
  transform: scale(1.1);
}

.main-screen-1 .overlap-group-2 {
  height: 31px;
  margin-right: 2.0px;
  margin-top: -1px;
  position: relative;
  width: 105px;
}

.main-screen-1 .rectangle-22 {
  background-color: var(--golden-grass);
  border-radius: 15px;
  height: 30px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 104px;
}

.main-screen-1 .join {
  height: 30px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.main-screen-1 .view-2 {
  height: 21px;
  letter-spacing: 0;
  margin-left: 1.02px;
  margin-top: 2px;
  text-align: center;
  width: 82px;
}

.main-screen-1 .overlap-group8 {
  align-items: center;
  align-self: flex-end;
  background-color: var(--charade);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 43px;
  min-height: 335px;
  width: 288px;
}

.main-screen-1 .vs-2 {
  align-self: center;
  height: 25px;
  letter-spacing: 0;
  margin-bottom: 11.44px;
  margin-left: 14px;
  text-align: center;
  width: 38px;
}

.main-screen-1 .text-container-2 {
  height: 45px;
  margin-left: 0;
  margin-top: 4px;
  position: relative;
  width: 129px;
}

.main-screen-1 .view-1 {
  height: 23px;
  letter-spacing: 0;
  margin-left: 0;
  margin-top: 27px;
  text-align: center;
  width: 85px;
}

.main-screen-1 .overlap-group9 {
  align-items: center;
  background-color: var(--charade);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  min-height: 335px;
  width: 288px;
}

.main-screen-1 .vs-3 {
  align-self: center;
  height: 25px;
  letter-spacing: 0;
  margin-bottom: 11.44px;
  margin-left: 14px;
  text-align: center;
  width: 38px;
}

.main-screen-1 .group-65 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  left: 508px;
  min-width: 193px;
  position: absolute;
  top: 68px;
}

.main-screen-1 .ellipse-15 {
  height: 33px;
  width: 33px;
}

.main-screen-1 .ellipse-14 {
  height: 33px;
  margin-left: 127px;
  width: 33px;
}

.main-screen-1 .group-82 {
  align-items: flex-start;
  box-shadow: 0px 0px 30px #00000040;
  display: flex;
  height: 338px;
  margin-top: 17px;
  min-width: 1274px;
}

.main-screen-1 .vs-4 {
  align-self: center;
  height: 25px;
  letter-spacing: 0;
  margin-bottom: 11.44px;
  margin-left: 14px;
  text-align: center;
  width: 38px;
}

.main-screen-1 .vs-5 {
  align-self: center;
  height: 25px;
  letter-spacing: 0;
  margin-bottom: 11.44px;
  margin-left: 14px;
  text-align: center;
  width: 38px;
}

.main-screen-1 .group-62-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 0.95px;
  margin-top: 17px;
  min-height: 60px;
  width: 111px;
}

.main-screen-1 .overlap-group-3 {
  height: 35px;
  margin-right: 2.0px;
  margin-top: -1px;
  position: relative;
  width: 109px;
}

.main-screen-1 .rectangle-22-1 {
  background-color: var(--electric-violet);
  border-radius: 15px;
  height: 34px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 108px;
}

.main-screen-1 .join-1 {
  height: 34px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 109px;
}

.main-screen-1 .view-3 {
  height: 23px;
  letter-spacing: 0;
  margin-left: 1.15px;
  margin-top: 2px;
  text-align: center;
  width: 85px;
}

.main-screen-1 .vs-6 {
  align-self: center;
  height: 25px;
  letter-spacing: 0;
  margin-bottom: 11.44px;
  margin-left: 14px;
  text-align: center;
  width: 38px;
}

.main-screen-1 .vs-7 {
  align-self: center;
  height: 25px;
  letter-spacing: 0;
  margin-bottom: 11.44px;
  margin-left: 14px;
  text-align: center;
  width: 38px;
}

.main-screen-1 .overlap-group-container-1 {
  height: 691px;
  margin-bottom: 7.0px;
  margin-left: 21px;
  position: relative;
  width: 138px;
}

.main-screen-1 .overlap-group11 {
  height: 691px;
  left: 0;
  position: absolute;
  top: 0;
  width: 138px;
}

.main-screen-1 .rectangle-14-1 {
  background-color: var(--charade);
  border-radius: 15px;
  height: 690px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 138px;
}

.main-screen-1 .dasfgas {
  height: 690px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 138px;
}

.main-screen-1 .overlap-group12 {
  height: 675px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 120px;
}

.main-screen-1 .rectangle-14-2 {
  background-color: var(--eerie-black-2);
  border-radius: 15px;
  height: 668px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 120px;
}

.main-screen-1 .past-10 {
  height: 32px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 120px;
}

.main-screen-1 .ellipse-16 {
  height: 89px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 85px;
}

.main-screen-1 .ellipse-18 {
  height: 89px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 351px;
  width: 85px;
}

.main-screen-1 .ellipse-17 {
  height: 89px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 188px;
  width: 85px;
}

.main-screen-1 .ellipse-19 {
  height: 89px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 509px;
  width: 85px;
}

.main-screen-1 .group-85 {
  height: 410px;
  left: 14px;
  position: absolute;
  top: 107px;
  width: 88px;
}

.main-screen-1 .group-86 {
  height: 89px;
  left: 17px;
  position: absolute;
  top: 265px;
  width: 85px;
}

.main-screen-1 .group-87 {
  height: 89px;
  left: 20px;
  position: absolute;
  top: 586px;
  width: 85px;
}

.main-screen-1 .overlap-group17 {
  align-items: flex-start;
  background-color: var(--onyx);
  border-radius: 0px 15px 0px 0px;
  display: flex;
  height: 754px;
  margin-left: 21px;
  min-width: 11px;
  padding: 17px 0;
}

.main-screen-1 .rectangle-24 {
  background-color: var(--electric-violet);
  border-radius: 15px;
  height: 63px;
  width: 11px;
}

.main-screen-1 .group-68-1 {
  height: 49px;
  left: 1643px;
  position: absolute;
  top: 73px;
  width: 234px;
}

.number-input {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
